body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;
}

.PeterParker {
    color: orange;
}


section {
    display: flex;
    margin-bottom: 100px;
}

.btn {
    background-image: linear-gradient(orange, tomato);
    border: none;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 700;
}

.btn:hover {
    background-color: brown;
    color: aliceblue;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width img {
    width: 80%;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

/* Middle Banner */

.middle-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}